@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", serif;
    color: #0d0d0d;
    background-color: #f2e0c9;
    font-weight: 400;
}

header {
    background: linear-gradient(to right, #a67683, #40592e);
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #f2e0c9;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    position: relative;
}

nav a:hover {
    color: #ffd700;
}

main {
    text-align: center;
    padding: 20px;
}

#frase-de-efeito {
    color: #8c3746;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px #6f1c5c94;
}

h1 {
    color: #40592e;
    font-size: 2rem;
    padding: 20px;
}

.listagem-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px 0px;
}

.listagem-conteudo a {
    background-color: #8c3746;
    color: #f2e0c9;
    padding: 5px 12px;
    border-radius: 15px;
    transition: all 0.5s;
    font-weight: 400;
}

.listagem-conteudo a:hover {
    color: #0d0d0d;
    background-color: #ffd700;
}

h2 {
    color: #40592e;
    padding: 15px 0;
}

.topicos {
    text-align: justify;
}

figure {
    margin-bottom: 15px;
    text-align: center;
}

figure img {
    width: 550px;
    height: auto;
    border-radius: 5px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #8c3746;
    color: #f2e0c9;
    padding: 0.6rem;@media (max-width: 160px){
        header img {
            width: 100%;
        }
    }
}

td {
    background-color: #ebd2aa;
    padding: 0.6rem;
}

td a {
    text-decoration: none;
    color: #40592e;
    font-weight: 700;
}

td a:hover {
    color: #8c3746;
}

#topo {
    padding-top: 20px;
}
@media (max-width: 160px){
    header img {
        width: 100%;
    }
}
#topo a {
    text-decoration: none;
    color: #0d0d0d;
}

#topo a:hover {
    color: #40592e;
}

footer {
    background-color: #2f4023;
    color: #f2e0c9;
    text-align: center;
    padding: 20px 0;
}



@media (max-width: 600px){
    figure img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

@media (max-width: 160px){
    header img {
        width: 100%;
    }
}